{% extends 'base.html' %}
{{% block content %}
{% load static %}

    <div class="nav-categories-overlay"></div>
    <div class="overlay-search-box"></div>

    <!--    responsive-megamenu-mobile----------------->

    <!--search-category------------------------->

    <div class="col-lg-9 col-md-8 col-xs-12 pull-right" >
        <div class="col-lg-12 col-xs-12 pull-right">
            <div class="profile-navbar">
                <div class="profile-navbar-back-alignment">
                    
                    <h4 class="edit-personal">ویرایش اطلاعات شخصی

                    </h4>
                </div>
            </div>
            <form action="/Done" method="post">
            <div class="profile-stats">
                <div class="form-legal-row">
                    <div class="col-lg-6 col-xs-12 mx-auto">
                        <div class="form-legal-col">
                            <fieldset class="form-legal-fieldset">
                                <h4 class="form-legal-headline">حساب شخصی</h4>
                                <div class="form-legal-item">
                                    <label for="name-first">نام</label>
                                    <input type="text" name="name" id="name-first" class="input-name-first"
                                        placeholder="نام خود را وارد کنید">
                                </div>

                            

                                {% csrf_token %}


                                <div class="form-legal-item">
                                    <label for="email">آدرس ایمیل</label>
                                    <input type="text" name="email" id="email" class="input-code-national"
                                        placeholder="آدرس ایمیل خود را وارد کنید">
                                </div>

                                <div class="form-legal-item has-diviter-item">
                                    <div class="form-auth-row">
                                        <label class="ui-checkbox has-diviter">
                                            <input type="checkbox" name="EmailBox" value="1" name="login" checked="" id="remember2">
                                            <span class="ui-checkbox-check"></span>
                                        </label>
                                        <label for="remember2" class="remember-me has-diviter-remember-me">
                                            اطلاع از تخفیفات همراه مدرن</label>
                                    </div>
                                    
                                </div>
                                <div class="form-legal-item">
                                    <label for="email">رمز عبور</label>
                                    <input type="password" name="password" id="password" class="input-code-national"
                                        placeholder="رمز عبور خود را وارد کنید">
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>
            </form>
                <div class="form-legal-row-submit">
                    <div class="parent-btn">
                        <button type="submit" class="dk-btn dk-btn-info">
                            ثبت اطلاعات کاربری
                            <i class="fa fa-check sign-in"></i>
                        </button>
                    </div>
                    {% comment %} <a href="#" class="btn-default">انصراف</a> {% endcomment %}
                </div>

            </div>
        </div>
    </div>

    {% endblock content %}