{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load custom_tags %}
<div class="nav-categories-overlay"></div>
<div class="overlay-search-box"></div>
<!--    responsive-megamenu-mobile----------------->

<!--search-category------------------------->

<div class="col-lg-9 col-md-8 col-xs-12 pull-left">
    <div class="headline-profile page-profile-order">
        <span>همه سفارش ها</span>
    </div>
    <div class="profile-stats page-profile-order">
        <div class="table-orders">
            <table class="table">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">شماره سفارش</th>
                        <th scope="col">تاریخ ثبت سفارش</th>
                        <th scope="col">مبلغ قابل پرداخت</th>
                        <th scope="col">مبلغ کل</th>
                        <th scope="col">عملیات پرداخت</th>
                        <th scope="col">جزئیات</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td class="order-code">DKC-57262900</td>
                        <td>1 آذر 1398</td>
                        <td>0</td>
                        <td>43,000 تومان</td>
                        <td class="text-success">پرداخت موفق</td>
                        <td class="detail"><a href="profile-order-2.html"><i class="fa fa-angle-left"></i></a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!--        responsive-profile-order------------------------->
    <div class="page-profile">
        <div class="page-navigation">
            <div class="page-navigation-title">سفارش‌های من</div>
            <a href="#" class="page-navigation-btn-back">بازگشت <i class="fa fa-angle-left"></i></a>
        </div>
        <div class="profile-orders">
            <div class="collapse">
                <div class="profile-orders-item">
                    <div class="profile-orders-header">
                        <a href="profile-order-2.html" class="profile-orders-header-details">
                            <div class="profile-orders-header-summary">
                                <div class="profile-orders-header-row">
                                    <span class="profile-orders-header-id">DKC-79356178</span>
                                    <span class="profile-orders-header-state">پرداخت شده</span>
                                </div>
                            </div>
                        </a>
                        <hr class="ui-separator">
                        <div class="profile-orders-header-data">
                            <div class="profile-info-row">
                                <div class="profile-info-label">تاریخ ثبت سفارش</div>
                                <div class="profile-info-value">۷ آذر ۱۳۹۸</div>
                            </div>
                            <div class="profile-info-row">
                                <div class="profile-info-label">مبلغ قابل پرداخت</div>
                                <div class="profile-info-value">0</div>
                            </div>
                            <div class="profile-info-row">
                                <div class="profile-info-label">مبلغ کل</div>
                                <div class="profile-info-value">430,000,0</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--        responsive-profile-order------------------------->
</div>
<!--search-category------------------------->

{% endblock content %}