<!DOCTYPE html>
<html lang="fa">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>خوش امدید</title>
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/materialdesignicons.css' %}">
    <link rel="stylesheet" href="{% static 'css/materialdesignicons.css.map' %}">
    <!--    font-->
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>


<body>
    <div id="main">
        <div class="col-lg-4 col-md-6 col-xs-12 mx-auto">
            <div class="account-box">
                <a href="/" class="logo-account"><img src="{% static 'images/logo.png' %}" alt="logo"></a>
                <span class="account-head-line">به مدرن همراه خوش آمدید</span>
                <div class="content-account">
                    <div class="account-box-message">
                        <div class="user-account-welcome">
                            <span class="mdi mdi-account-outline user-welcome"></span>
                        </div>
                        <div class="made-account">
                            <h2>حساب کاربری شما در همراه مدرن ساخته شد</h2>
                            <p>اکنون می‌توانید به صفحه‌ای که در آن بودید بازگردید و یا با تکمیل اطلاعات حساب کاربری
                                خود به کلیه امکانات و
                                سرویس‌های همراه مدرن و سرویس‌های وابسته به آن دسترسی داشته باشید</p>
                        </div>
                    </div>
                    <ul>
                        <li>
                            <div class="parent-btn">
                                <form action="/profile" method="post">
                                    {% csrf_token %}
                                <button type="submit" class="dk-btn dk-btn-info">
                                    تکمیل حساب کاربری
                                    <i class="fa fa-user sign-in"></i>
                                </button>
                            </form>
                            
                            </div>
                        </li>
                        <li>
                            <!-- <a href="#" class="back-page-before">بازگشت به صفحه‌ای که در آن بودید</a> -->
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <script src="assets/js/jquery-3.2.1.min.js"></script>
    <script src="assets/js/bootstrap.js"></script>
</body>

</html>