{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="nav-categories-overlay"></div>
<div class="overlay-search-box"></div>

<!--  cart------------------>
<div class="col-12">
    <div class="cart-page">
        <div class="container">
            <div class="checkout-empty">
                <div class="checkout-empty-empty-cart-icon"></div>
                <div class="checkout-empty-title">سبد خرید شما خالی است!</div>
                <div class="col-lg-6 col-md-6!important col-xs-12 mx-auto">
                    
                </div>
            </div>
        </div>
    </div>
    <div class="checkout-empty-inner-box">
        <a href="#" class="checkout-empty-badge">
            <img src="{% static 'images/footer-svg/delivery.svg' %}" alt="badge">
            <span class="item-feature">تحویل اکسپرس</span>
        </a>

        <a href="#" class="checkout-empty-badge">
            <img src="{% static 'images/footer-svg/contact-us.svg' %}" alt="badge">
            <span class="item-feature">پشتیبانی 24 ساعته</span>
        </a>

        <a href="#" class="checkout-empty-badge">
            <img src="{% static 'images/footer-svg/payment-terms.svg' %}" alt="badge">
            <span class="item-feature">پرداخت در منزل</span>
        </a>

        <a href="#" class="checkout-empty-badge">
            <img src="{% static 'images/footer-svg/return-policy.svg' %}" alt="badge">
            <span class="item-feature">7 روز ضمانت برگشت</span>
        </a>

        <a href="#" class="checkout-empty-badge">
            <img src="{% static 'images/footer-svg/origin-guarantee.svg' %}" alt="badge">
            <span class="item-feature">ضمانت اصل بودن کالا</span>
        </a>
    </div>
</div>
<!--   adplacement -------------------->

<!--   adplacement -------------------->
<div class="col-lg-12 col-md-12 col-xs-12 pull-right">
    <div class="row">
        <div class="col-12">
            <div class="widget widget-product card">
                <header class="card-header">
                    <span class="title-one">گوشی موبایل</span>
                </header>
                <div class="product-carousel owl-carousel owl-theme owl-rtl owl-loaded owl-drag">
                    <div class="owl-stage-outer">
                        <div class="owl-stage"
                            style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 2234px;">
{% for prod in allp %}
                            <div class="owl-item" style="width: 309.083px; margin-left: 10px;">
                                <div class="item">
                                    <a href="/product/{{prod.name}}">
                                        <img src="/ProductImage/{{prod.picture}}" class="img-fluid"
                                            alt="img-slider">
                                    </a>
                                    <h2 class="post-title">
                                        <a href="/product/{{prod.name}}">
                                            {{prod}}
                                        </a>
                                    </h2>
                                    <div class="price">
                                        {% load custom_tags %}
                                        {% if prod.price_offer != 0 %}<del><span>{% takhfif prod.price prod.price_offer %}<span>تومان</span></span></del>{% endif %}
                                        <ins><span>{{prod.price}}<span>تومان</span></span></ins>
                                    </div>
                                </div>
                         </div>
{% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--  cart------------------>

{% endblock %}